# Compilados e Build
target/
build/
out/
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war

# IDEs (Configurações locais)
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# Ficheiros do Sistema Operativo
.DS_Store
Thumbs.db